<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Lanches
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/icon/misto_quente.jpg">
    </ion-thumbnail>
    <ion-label>MISTO QUENTE <p>Pão francês / Presunto / Mussarela / Tomate</p></ion-label>
    <ion-badge color="success">R$9,10</ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/icon/x_frango.png">
    </ion-thumbnail>
    <ion-label>X FRANGO <p>Filé de frango / Mussarela / Presunto / Maionese / Catupiry / Tomate / Milho</p></ion-label>
    <ion-badge color="success">R$24,99</ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/icon/x_salada.jpg">
    </ion-thumbnail>
    <ion-label>X SALADA <p>Hambúrguer / Mussarela / Maionese / Alface / Tomete</p></ion-label>
    <ion-badge color="success">R$20,50</ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/icon/hot_dog.jpg">
    </ion-thumbnail>
    <ion-label>HOT DOG <p>Salsicha / Bacon / Milho / Tomate / Maionese / Batata palha</p></ion-label>
    <ion-badge color="success">R$14,90</ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://th.bing.com/th/id/Rf7fccb07cc0a283e2fd5cf506ab8e051?rik=d8KS%2f90TPzqZBw&riu=http%3a%2f%2fs.glbimg.com%2fpo%2frc%2fmedia%2f2012%2f10%2f18%2f14_32_30_119_IMG_0043.JPG&ehk=tsOTep3hGjKx%2buSrVTG067%2by57WNflPuSgZn4n31KQI%3d&risl=&pid=ImgRaw">
    </ion-thumbnail>
    <ion-label>X-TUDO <p>Salsicha / Bancon / Hambúrguer / Ovo / Filé de frango / Mussarela / Presunto / Maionese / Catupiry / Tomate / Milho</p></ion-label>
    <ion-badge color="success">R$2,99</ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/icon/pao_chapa.png">
    </ion-thumbnail>
    <ion-label>PÃO NA CHAPA <p>Pão de forma com manteiga</p></ion-label>
    <ion-badge color="success">R$2,99</ion-badge>
  </ion-item>

</ion-content>
